<h2>Slacker Meals</h2>
<em>slackers gotta eat!</em>

<h1>Here's what you should eat</h1>

<table>
  <tr>
    <th>item</th>
    <th>calories</th>
    <th>protein</th>
    <th>calcium</th>
    <th>serving unit</th>
    <th>serving count</th>
  </tr>

  <% @random_ingredients.each do |ingredient|%>
    <tr>
      <th><%= ingredient.name           %></th>
      <th><%= ingredient.calories       %></th>
      <th><%= ingredient.protein        %></th>
      <th><%= ingredient.calcium        %></th>
      <th><%= ingredient.serving_unit   %></th>
      <th><%= ingredient.serving_count  %></th>
    </tr>
  <% end %>

  <tr>
    <th>totals</th>
    <th><%= @calories.round(2) %></th>
    <th><%= @protein.round(2) %> </th>
    <th><%= @calcium.round(2) %> </th>
    <th>                </th>
    <th>                </th>
  </tr>
</table>

<br />

<%= link_to 'Give me a different meal', ingredient_lists_path %>
