<h2>Slacker Meals</h2>
<em>slackers gotta eat!</em>

<%= debug @user %>

	<h2>How big is the human you need to feed? <h2>

<h4>
		<%= form_for @user, :url => ingredient_lists_path do |f| %>
			<% sizes = { :small => 0, :medium => 1, :large => 2,
						 :extra_large => 3 } %>
			<% sizes.each do |key, value| %>
				<%= f.check_box :size %>
				<%= f.label key %><br />
			<% end %>
			<%= f.submit %>
		<% end %>
</h4>


