<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :serving %><br />
    <%= f.text_field :serving %>
  </div>
  <div class="field">
    <%= f.label :calories %><br />
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :protein %> in g<br />
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :calcium %> in mg<br />
    <%= f.text_field :calcium %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
