<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>
<p>
  <b>Serving:</b>
  <%= @ingredient.serving %>
</p>
<p>
  <b>Calories:</b>
  <%= @ingredient.calories %>
</p>
<p>
  <b>Protein (g):</b>
  <%= @ingredient.protein %>
</p>
<p>
  <b>Calcium (mg):</b>
  <%= @ingredient.calcium %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
<%= link_to "Delete Ingredient",
     		ingredient_path(@ingredient),
     		:method => :delete,
     		:confirm => "Are you sure you want to delete this ingredient?" %>
