<!DOCTYPE html>
<html>
<head>
	<%# http://serene-inlet-8945.herokuapp.com %>
  <title>PutItInYourFace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="head">
<h1>Slacker Meals</h1>
<p>Find something good to eat without having to think too hard about it</p>
</div>

<% flash.each do |key, value| %>
	<div class='flash' id='<%= key %>'>
		<%= value %>
	</div>
<% end %>

<%= yield %>
<end>

<div id="foot">

 <%= link_to 'About', static_index_path, :id => "foot_link" %>
  </div>

</body>
</html>
